/* Move down content because we have a fixed navbar that is 50px tall */
body {
  position: relative;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: lighter;
}

h2, h3 {
    color: #14C1D7;
    letter-spacing: 0.04em;
}

.navbar {
    background-color: #fff;
    opacity: 0.9;
}
.navbar a {
    color: #14C1D7;
}
.navbar .active {
    background-color: #14C1D7;
}
.navbar .active a {
    color: #fff;
}
.icon-bar {
    background-color: #14C1D7;
}

.navbar.tiny {
    background-color: #14C1D7;
}
.navbar.tiny a {
    color: #fff;
}
.navbar.tiny .active {
    background-color: #fff;
}
.navbar.tiny .active a {
    color: #14C1D7;
}
.navbar.tiny .icon-bar {
    background-color: #fff;
}

.jumbotron {
    color: #fff;
    background-color: #14C1D7;
    margin-top: 50px;
}
.jumbotron p {
    font-weight: lighter;
    letter-spacing: 0.04em;
}
.jumbotron .lead {
    font-size: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container p {
    margin: 20px 0;
}

.container.main {
    padding-bottom: 70px;
}